#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

@media screen and (min-width: 1200px) {
   #hidden-box {
      display: block;
   }
}

#hero div {
    padding: 40px;
}

#contents div {
    padding: 50px;
}

#footer div {
    padding: 60px;
}